$header_color: #111;

#header-region		{
  position: absolute;
  width: 100%;
  // z-index: 9999;
  .contain-to-grid  {  background: $header_color; }
  .top-bar          {  background: $header_color; }
  #logo             {  width: 30px; height: 30px; display: inline-block; position: relative;  }
  a                 {  height: 45px;  }
  li > a            {  background: $header_color; &:hover { background: lighten($header_color, 10%); } }
  .title-area       {  left: 20%; }
}