.box {
  @include border-radius(3px);
  background: $secondary-color;
  margin-bottom: 1.25em;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;

  h2 {
    line-height: 1em;
    margin: 0;
  }

  .box-header {
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
    background-color: darken($secondary-color, 5%);
    border-bottom: 1px solid #cdcdcd;
    padding: .5em;
  }

  .avatar {
    background: #7fb3d4;
    background-size: 100%;
    background-image: -webkit-linear-gradient(top, #a5cae1, #7fb3d4);
    border: 1px solid #60a1ca;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 3px;
    width: 25px;
    text-align: center;

    i {  color: white;  }
  }

  ul.items {
    list-style: none;
    margin: 0;

    .item {
      border-bottom: 1px solid #cdcdcd;
      @include box-sizing(border-box);
      cursor: pointer;
      min-height: 34px;
      padding-top: 3px;

      .ticket-number {
        font-style: italic;
        color: lighten(#222222, 35%);
        margin-left: 3px;
        font-size: 14px;

        // Pretty
        // color: #ffffff;
        // background-color: blue;
        // font-weight: 900;
        // padding: 3px;
        // @include border-radius(2px, 2px);
      }

      .priority {
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        @include border-radius(2px, 2px);
        text-transform: uppercase;

        &.high {  background-color: #cc1515;  }
        &.medium {  background-color: #e07a20;  }
        &.low {  background-color: #2487d0;  }
      }

      .notdo-delete {
        padding-right: 3px;

        button {
          // visibility: hidden;
          display: none;
          margin: 0;
        }
      }

      &:hover {
        background-color: darken($secondary-color, 5%);
        .notdo-delete > button {
          // visibility: visible;
          display: inline;
        }
      }
    }
  }
}