<div id="wrap">
	<div id="header-region"></div>
	<div id="main-region"></div>
	<div id="push"></div>
</div>
<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function() {
    <!-- Need this for select dropdowns. -->
    $(document).foundation();
		PlanetExpress.start({
      environment: "<%= Rails.env %>"
    });
	});
<% end %>
