<div id="wrap">

  <div id="header-region">
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="#">
                  <span id="logo">
                    <img src="assets/ship.png" />
                  </span>
                  Growth App
                </a>
              </h1>
              </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li class="divider"></li>
                  <li>
                <a href="#">
                  <i class="general foundicon-graph"></i>
                  Crew
                </a>
              </li>
              <li class="divider"></li>
                  <li>
                <a href="#">
                  <i class="general foundicon-graph"></i>
                  Not Doing List
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Backlog
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Logger
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Daily
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Blog
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#" class="header-TOC">
                  <i class="fi-list"></i>
                  Table of contents
                </a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </header>

  </div> <!-- id="header-region" -->

  <div id="main-region">

<!--       <section>
        <div class="row">
            <div class="small-12 small-centered columns">
                <table class="habit-tracker">
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>&lt;25g sugar &lt;100g carb</th>
                            <th>Workout</th>
                            <th>Meditation</th>
                            <th>Build(software)</th>
                            <th>Pages/Journal</th>
                            <th>Other</th>
                        <tr>
                    <thead>
                    <tbody>
                        <tr>
                            <td>2/26</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_26" name="eat_well"/>
                                <label for="eat_well_2_26"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_26" name="workout"/>
                                <label for="workout_2_26"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_26" name="meditation"/>
                                <label for="meditation_2_26"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_26" name="build"/>
                                <label for="build_2_26"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_26" name="pages"/>
                                <label for="pages_2_26"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_26" name="other"/>
                                <label for="other_2_26"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/25</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_25" name="eat_well"/>
                                <label for="eat_well_2_25"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_25" name="workout"/>
                                <label for="workout_2_25"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_25" name="meditation"/>
                                <label for="meditation_2_25"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_25" name="build"/>
                                <label for="build_2_25"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_25" name="pages"/>
                                <label for="pages_2_25"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_25" name="other"/>
                                <label for="other_2_25"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/24</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_24" name="eat_well"/>
                                <label for="eat_well_2_24"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_24" name="workout"/>
                                <label for="workout_2_24"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_24" name="meditation"/>
                                <label for="meditation_2_24"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_24" name="build"/>
                                <label for="build_2_24"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_24" name="pages"/>
                                <label for="pages_2_24"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_24" name="other"/>
                                <label for="other_2_24"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/23</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_23" name="eat_well"/>
                                <label for="eat_well_2_23"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_23" name="workout"/>
                                <label for="workout_2_23"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_23" name="meditation"/>
                                <label for="meditation_2_23"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_23" name="build"/>
                                <label for="build_2_23"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_23" name="pages"/>
                                <label for="pages_2_23"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_23" name="other"/>
                                <label for="other_2_23"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/22</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_22" name="eat_well"/>
                                <label for="eat_well_2_22"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_22" name="workout"/>
                                <label for="workout_2_22"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_22" name="meditation"/>
                                <label for="meditation_2_22"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_22" name="build"/>
                                <label for="build_2_22"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_22" name="pages"/>
                                <label for="pages_2_22"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_22" name="other"/>
                                <label for="other_2_22"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/21</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_21" name="eat_well" checked/>
                                <label for="eat_well_2_21"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_21" name="workout" checked/>
                                <label for="workout_2_21"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_21" name="meditation" checked/>
                                <label for="meditation_2_21"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_21" name="build" checked/>
                                <label for="build_2_21"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_21" name="pages" checked/>
                                <label for="pages_2_21"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_21" name="other" checked/>
                                <label for="other_2_21"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/20</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_20" name="eat_well"/>
                                <label for="eat_well_2_20"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_20" name="workout"/>
                                <label for="workout_2_20"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_20" name="meditation"/>
                                <label for="meditation_2_20"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_20" name="build"/>
                                <label for="build_2_20"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_20" name="pages"/>
                                <label for="pages_2_20"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_20" name="other"/>
                                <label for="other_2_20"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/19</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_19" name="eat_well"/>
                                <label for="eat_well_2_19"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_19" name="workout"/>
                                <label for="workout_2_19"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_19" name="meditation"/>
                                <label for="meditation_2_19"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_19" name="build"/>
                                <label for="build_2_19"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_19" name="pages"/>
                                <label for="pages_2_19"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_19" name="other"/>
                                <label for="other_2_19"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/18</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_18" name="eat_well"/>
                                <label for="eat_well_2_18"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_18" name="workout"/>
                                <label for="workout_2_18"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_18" name="meditation"/>
                                <label for="meditation_2_18"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_18" name="build"/>
                                <label for="build_2_18"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_18" name="pages"/>
                                <label for="pages_2_18"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_18" name="other"/>
                                <label for="other_2_18"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2/17</td>
                            <td class="checkbox">
                                <input type="checkbox" id="eat_well_2_17" name="eat_well"/>
                                <label for="eat_well_2_17"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="workout_2_17" name="workout"/>
                                <label for="workout_2_17"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="meditation_2_17" name="meditation"/>
                                <label for="meditation_2_17"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="build_2_17" name="build"/>
                                <label for="build_2_17"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="pages_2_17" name="pages"/>
                                <label for="pages_2_17"></label>
                            </td>
                            <td class="checkbox">
                                <input type="checkbox" id="other_2_17" name="other"/>
                                <label for="other_2_17"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </section> -->

    <section>
      <div class="row">
        <div class="large-2 columns">

          <ul id="dates">
            <li>
                <div class="date complete">
                    <div class="month">
                        Mar 4
                    </div>

                    <div class="day">
                        Monday
                    </div>
                </div>
            </li>

            <li>
                <div class="date">
                    <div class="month">
                        Mar 3
                    </div>

                    <div class="day">
                        Sunday
                    </div>
                </div>
            </li>

            <li>
                <div class="date">
                    <div class="month">
                        Mar 2
                    </div>

                    <div class="day">
                        Saturday
                    </div>
                </div>
            </li>
            <li>
                <div class="date">
                    <div class="month">
                        Mar 1
                    </div>

                    <div class="day">
                        Saturday
                    </div>
                </div>
            </li>
          </ul>

        </div> <!-- .large-2.columns -->

        <div class="large-2 columns">

          <div id="chain-container">
            <div class="single-chain">

              <div class="chain-title">
                <h3>Eat Well and more stuff</h3>
                <a class="delete-btn" data-confirm="Are you sure you want to delete this chain?" data-method="delete" href="/chains/164301" rel="nofollow">Destroy</a>
              </div>


              <div class="chain-arrow" style="opacity: 1;"></div>

              <ul>
                <li class="chain-link" data-count="0"></li>
                <li class="chain-link checked first" data-count="1"></li>
                <li class="chain-link checked" data-count="2"></li>
                <li class="chain-link checked last" data-count="3"></li>
              </ul>
            </div>
          </div>

        </div> <!-- .large-2.columns -->

        <div class="large-8-offset"></div>
      </div> <!-- .row -->

    </section>

  </div> <!-- id="main-region" -->

  <div id="push"></div>

</div> <!-- id="wrap" -->

<script>

</script>

<script>

</script>