<div id="wrap">

  <div id="header-region">
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="#">
                  <span id="logo">
                    <img src="assets/ship.png" />
                  </span>
                  Growth App
                </a>
              </h1>
              </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li class="divider"></li>
                  <li>
                <a href="#">
                  <i class="general foundicon-graph"></i>
                  Crew
                </a>
              </li>
              <li class="divider"></li>
                  <li>
                <a href="#">
                  <i class="general foundicon-graph"></i>
                  Not Doing List
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Backlog
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Logger
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Daily
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Blog
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#" class="header-TOC">
                  <i class="fi-list"></i>
                  Table of contents
                </a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </header>
  </div> <!-- id="header-region" -->

  <div id="main-region">

    <section></section>
    <section></section>
    <section></section>

  </div>