<div id="wrap">

  <div id="header-region">
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="#"><span id="logo"><img src="assets/ship.png" /></span>Growth App</a></h1>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li class="divider"></li>
              <li><a href="#"><i class="general foundicon-graph"></i>Crew</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="general foundicon-graph"></i>Not Doing List</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="social foundicon-torso"></i>Backlog</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="social foundicon-torso"></i>Logger</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="social foundicon-torso"></i>Daily</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="social foundicon-torso"></i>Blog</a></li>
              <li class="divider"></li>
            </ul>
          </section>
        </nav>
      </div>
    </header>
  </div> <!-- id="header-region" -->


  <div id="main-region">

    <div class="row">
      <div class="small-12 small-centered">
        <div class="random-quote">Here's a cool quote.</div>
      </div>
    </div>

    <div class="row">
      <div class="large-4 medium-4 small-12 columns">
        <div class="focus-area">
          <img class="focus-img" src="/assets/snow-leopard.jpg" />
          <h2 class="focus-title ellipsis">Primal Supple Leopard</h2>
          <hr>
          <ul class="task-list">
            <li class="task todo uncompleted color-worst">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box1" class="visuallyhidden focusable">
                  <label for="box1"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
            <li class="task todo uncompleted color-worse">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box2" class="visuallyhidden focusable">
                  <label for="box2"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
            <li class="task todo uncompleted color-bad">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box3" class="visuallyhidden focusable">
                  <label for="box3"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
            <li class="task todo uncompleted color-neutral">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box4" class="visuallyhidden focusable">
                  <label for="box4"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
            <li class="task todo uncompleted color-good">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box5" class="visuallyhidden focusable">
                  <label for="box5"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
            <li class="task todo uncompleted color-better">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box6" class="visuallyhidden focusable">
                  <label for="box6"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!What if it is super long and stuff what then? EVEN LONGER</div>
            </li>
            <li class="task todo uncompleted color-best">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box7" class="visuallyhidden focusable">
                  <label for="box7"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
            <li class="task todo uncompleted color-completed">
              <!-- left-hand side checkbox-->
              <div class="task-controls task-primary">
                <span class="task-checker action-yesno">
                  <input type="checkbox" id="box8" class="visuallyhidden focusable">
                  <label for="box8"></label>
                </span>
              </div>
              <!-- main content -->
              <div class="task-text">Do this task!</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="large-4 medium-4 small-12 columns">
        <div class="focus-area">
          <img class="focus-img" src="/assets/apple-logo-2.jpg" />
          <h2 class="focus-title ellipsis">Pragmatic Programmer</h2>
          <hr>
        </div>
      </div>

      <div class="large-4 medium-4 small-12 columns">
        <div class="focus-area">
          <img class="focus-img" src="/assets/buddha-riding-elephant.jpg" />
          <h2 class="focus-title ellipsis">Elephant Rider</h2>
          <hr>
        </div>
      </div>
    </div>





  </div> <!-- #main-region -->