<div id="wrap" class="habit-tracker">

  <div id="header-region">
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="#">
                  <span id="logo">
                    <img src="assets/ship.png" />
                  </span>
                  Growth App
                </a>
              </h1>
              </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li class="divider"></li>
                  <li>
                <a href="#">
                  <i class="general foundicon-graph"></i>
                  Crew
                </a>
              </li>
              <li class="divider"></li>
                  <li>
                <a href="#">
                  <i class="general foundicon-graph"></i>
                  Not Doing List
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Backlog
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Logger
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Daily
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#">
                  <i class="social foundicon-torso"></i>
                  Blog
                </a>
              </li>
              <li class="divider"></li>
              <li class="active">
                <a href="#" class="header-TOC">
                  <i class="fi-list"></i>
                  Table of contents
                </a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </header>

  </div> <!-- id="header-region" -->

  <div id="main-region">

    <div class="reminder">Random reminder</div>

    <section id="content" style="min-width:1150px">

      <ul id="dates">
        <li>
          <div class="date">
            <div class="month">
              Mar 3
            </div>
            <div class="day">
              Monday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Mar 2
            </div>
            <div class="day">
              Sunday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Mar 1
            </div>
            <div class="day">
              Saturday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 28
            </div>
            <div class="day">
              Friday
            </div>
          </div>
        </li>
        <li>
            <div class="date">
                <div class="month">
                  Feb 27
                </div>

                <div class="day">
                    Thursday
                </div>
            </div>
        </li>
        <li>
            <div class="date">
                <div class="month">
                  Feb 26
                </div>

                <div class="day">
                    Wednesday
                </div>
            </div>
        </li>
        <li>
            <div class="date">
                <div class="month">
                  Feb 25
                </div>

                <div class="day">
                    Tuesday
                </div>
            </div>
        </li>
        <li>
            <div class="date">
                <div class="month">
                  Feb 24
                </div>

                <div class="day">
                    Monday
                </div>
            </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
            Feb 23
            </div>

            <div class="day">
              Sunday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 22
            </div>
            <div class="day">
              Saturday
            </div>
          </div>
        </li>

        <li>
          <div class="date">
            <div class="month">
              Feb 21
            </div>
            <div class="day">
              Friday
            </div>
          </div>
        </li>

        <li>
          <div class="date">
            <div class="month">
              Feb 20
            </div>
            <div class="day">
              Thursday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 19
            </div>
            <div class="day">
              Wednesday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 18
            </div>
            <div class="day">
              Tuesday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 17
            </div>
            <div class="day">
              Monday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 16
            </div>
            <div class="day">
              Sunday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 15
            </div>
            <div class="day">
              Saturday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 14
            </div>
            <div class="day">
              Friday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 13
            </div>
            <div class="day">
              Thursday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 12
            </div>
            <div class="day">
              Wednesday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 11
            </div>
            <div class="day">
              Tuesday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 10
            </div>
            <div class="day">
              Monday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 9
            </div>
            <div class="day">
              Sunday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 8
            </div>
            <div class="day">
              Saturday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 7
            </div>
            <div class="day">
              Friday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 6
            </div>
            <div class="day">
              Thursday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 5
            </div>
            <div class="day">
              Wednesday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 4
            </div>
            <div class="day">
              Tuesday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 3
            </div>
            <div class="day">
              Monday
            </div>
          </div>
        </li>
        <li>
          <div class="date">
            <div class="month">
              Feb 2
            </div>
            <div class="day">
              Sunday
            </div>
          </div>
        </li>
      </ul>

      <div id="chain-container">

        <div class="single-chain">
          <div class="chain-title color0">
            <h3 contenteditable="true">Eat Well and more stuff</h3>
            <a class="delete-btn" data-confirm="Are you sure you want to delete this chain?" data-method="delete" href="/chains/164301" rel="nofollow">Destroy</a>
            <div class="stats">
              <div class="number">
                Since last:
                <span class="big">7</span>
                <div class="longest">Longest: 28</div>
              </div>
            </div>
            <div class="settings">Settings</div>
          </div>

          <div class="chain-arrow" style="opacity: 1;"></div>

          <ul class="braid skin-keyboard">
            <li class="chain-link" data-count="0"></li>
            <li class="chain-link checked first" data-count="1"></li>
            <li class="chain-link checked" data-count="2"></li>
            <li class="chain-link checked last" data-count="3"></li>
            <li class="chain-link" data-count="4"></li>
            <li class="chain-link" data-count="5"></li>
            <li class="chain-link" data-count="6"></li>
            <li class="chain-link" data-count="7"></li>
            <li class="chain-link" data-count="8"></li>
            <li class="chain-link" data-count="9"></li>
            <li class="chain-link" data-count="10"></li>
            <li class="chain-link" data-count="11"></li>
            <li class="chain-link" data-count="12"></li>
            <li class="chain-link" data-count="13"></li>
            <li class="chain-link" data-count="14"></li>
            <li class="chain-link" data-count="15"></li>
            <li class="chain-link" data-count="16"></li>
            <li class="chain-link" data-count="17"></li>
            <li class="chain-link" data-count="18"></li>
            <li class="chain-link" data-count="19"></li>
            <li class="chain-link" data-count="20"></li>
            <li class="chain-link" data-count="21"></li>
            <li class="chain-link" data-count="22"></li>
            <li class="chain-link" data-count="23"></li>
            <li class="chain-link" data-count="24"></li>
            <li class="chain-link" data-count="25"></li>
            <li class="chain-link" data-count="26"></li>
            <li class="chain-link" data-count="27"></li>
            <li class="chain-link" data-count="28"></li>
            <li class="chain-link" data-count="29"></li>
          </ul>
        </div> <!-- .single-chain -->

        <div class="single-chain">
          <div class="chain-title color1">
            <h3 contenteditable="true">Meditate</h3>
            <a class="delete-btn" data-confirm="Are you sure you want to delete this chain?" data-method="delete" href="/chains/164301" rel="nofollow">Destroy</a>
            <div class="stats">
              <div class="number">
                Since last:
                <span class="big">0</span>
                <div class="longest">Longest: 8</div>
              </div>
            </div>
            <div class="settings">Settings</div>
          </div>

          <div class="chainSettings visible">
            <div class="day-settings smallCaps">
              <h4>Skip these days</h4>
              <table>
                <tbody>
                  <tr>
                    <td class="skipday" data-day="1">M</td>
                    <td class="skipday" data-day="2">T</td>
                    <td class="skipday" data-day="3">W</td>
                    <td class="skipday" data-day="4">T</td>
                    <td class="skipday" data-day="5">F</td>
                    <td class="skipday active" data-day="6">S</td>
                    <td class="skipday active" data-day="0">S</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="smallCaps">
              Skin:
              <select class="braid_skin chosen-select" name="braid[skin]"
              style="display: none;">
                <option value="default">Default</option>
                <option value="piano">Piano</option>
                <option value="guitar">Guitar</option>
                <option value="bicycle">Bicycle</option>
                <option value="running">Running</option>
                <option value="book">Books</option>
                <option value="keyboard">Keyboard</option>
                <option value="salad">Salad</option>
                <option value="metal">Metal</option>
                <option value="drawing">Drawing</option>
                <option selected="selected" value="flower">Flower</option>
                <option value="measure">Measure</option>
                <option value="belt">Belt</option>
                <option value="weights">Weights</option>
              </select>

              <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 150px;" title="">
                <a class="chosen-single" tabindex="-1">
                  <span>Flower</span>
                  <div><b></b></div>
                </a>

                <div class="chosen-drop">
                  <div class="chosen-search">
                    <input autocomplete="off" readonly type="text">
                  </div>
                  <ul class="chosen-results">
                    <li class="active-result" data-option-array-index="0">Default</li>
                    <li class="active-result" data-option-array-index="1">Piano</li>
                    <li class="active-result" data-option-array-index="2">Guitar</li>
                    <li class="active-result" data-option-array-index="3">Bicycle</li>
                    <li class="active-result" data-option-array-index="4">Running</li>
                    <li class="active-result" data-option-array-index="5">Books</li>
                    <li class="active-result" data-option-array-index="6">Keyboard</li>
                    <li class="active-result" data-option-array-index="7">Salad</li>
                    <li class="active-result" data-option-array-index="8">Metal</li>
                    <li class="active-result" data-option-array-index="9">Drawing</li>
                    <li class="active-result result-selected" data-option-array-index="10">Flower</li>
                    <li class="active-result" data-option-array-index="11">Measure</li>
                    <li class="active-result" data-option-array-index="12">Belt</li>
                    <li class="active-result" data-option-array-index="13">Weights</li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="smallCaps" data-color="4" id="colorChooser">
                <span class="translation_missing" title=
                "translation missing: en-US.color">Color</span>

                <div>
                    <div class="colorBox" data-color="0" id="color0"></div>

                    <div class="colorBox" data-color="1" id="color1"></div>

                    <div class="colorBox" data-color="2" id="color2"></div>

                    <div class="colorBox" data-color="3" id="color3"></div>

                    <div class="colorBox selected" data-color="4" id="color4">
                    </div>
                </div>
            </div>

            <div class="smallCaps">
              <div id="reminder">
                <input name="braid[is_reminder]" type="hidden" value=
                "0"><input class="braid_is_reminder" id="braid_is_reminder"
                name="braid[is_reminder]" type="checkbox" value="1">
                <span class="translation_missing" title=
                "translation missing: en-US.reminder_chain">Reminder
                Chain</span>

                <div class="helpBubble">
                    Only use this chain to remind how long it has been since
                    the last time and not included in some calculations.<br>
                    E.g. "water plants".
                </div>
              </div>

              <div class="smallButton smallCaps updateSettings" data-attribute=
              "daymask" data-url="/chains/164553">
                <a href="#">Update settings</a>
              </div>

              <div class="closeSettings smallButton smallCaps">
                <a href="#">Cancel</a>
              </div>
            </div>
          </div> <!-- .chain-settings -->

          <div class="chain-arrow" style="opacity: 1;"></div>

          <ul class="braid skin-book">
            <li class="chain-link" data-count="0"></li>
            <li class="chain-link checked first" data-count="1">
              <div class="badgeholder badge visible">5</div>
            </li>
            <li class="chain-link checked" data-count="2"></li>
            <li class="chain-link checked last" data-count="3"></li>
            <li class="chain-link" data-count="4"></li>
            <li class="chain-link" data-count="5"></li>
            <li class="chain-link" data-count="6"></li>
            <li class="chain-link" data-count="7"></li>
            <li class="chain-link" data-count="8"></li>
            <li class="chain-link" data-count="9"></li>
            <li class="chain-link" data-count="10"></li>
            <li class="chain-link" data-count="11"></li>
            <li class="chain-link" data-count="12"></li>
            <li class="chain-link" data-count="13"></li>
            <li class="chain-link" data-count="14"></li>
            <li class="chain-link" data-count="15"></li>
            <li class="chain-link" data-count="16"></li>
            <li class="chain-link" data-count="17"></li>
            <li class="chain-link" data-count="18"></li>
            <li class="chain-link" data-count="19"></li>
            <li class="chain-link" data-count="20"></li>
            <li class="chain-link" data-count="21"></li>
            <li class="chain-link" data-count="22"></li>
            <li class="chain-link" data-count="23"></li>
            <li class="chain-link" data-count="24"></li>
            <li class="chain-link" data-count="25"></li>
            <li class="chain-link" data-count="26"></li>
            <li class="chain-link" data-count="27"></li>
            <li class="chain-link" data-count="28"></li>
            <li class="chain-link" data-count="29"></li>
          </ul>
        </div> <!-- .single-chain -->

        <div class="single-chain">
          <div class="chain-title color2">
            <h3 contenteditable="true">Eat Well and more stuff</h3>
            <a class="delete-btn" data-confirm="Are you sure you want to delete this chain?" data-method="delete" href="/chains/164301" rel="nofollow">Destroy</a>
            <div class="stats">
              <div class="number">
                Since last:
                <span class="big">7</span>
                <div class="longest">Longest: 28</div>
              </div>
            </div>
            <div class="settings">Settings</div>
          </div>

          <div class="chain-arrow" style="opacity: 1;"></div>

          <ul class="braid skin-keyboard">
            <li class="chain-link" data-count="0"></li>
            <li class="chain-link checked first" data-count="1"></li>
            <li class="chain-link checked" data-count="2"></li>
            <li class="chain-link checked last" data-count="3"></li>
            <li class="chain-link" data-count="4"></li>
            <li class="chain-link" data-count="5"></li>
            <li class="chain-link" data-count="6"></li>
            <li class="chain-link" data-count="7"></li>
            <li class="chain-link" data-count="8"></li>
            <li class="chain-link" data-count="9"></li>
            <li class="chain-link" data-count="10"></li>
            <li class="chain-link" data-count="11"></li>
            <li class="chain-link" data-count="12"></li>
            <li class="chain-link" data-count="13"></li>
            <li class="chain-link" data-count="14"></li>
            <li class="chain-link" data-count="15"></li>
            <li class="chain-link" data-count="16"></li>
            <li class="chain-link" data-count="17"></li>
            <li class="chain-link" data-count="18"></li>
            <li class="chain-link" data-count="19"></li>
            <li class="chain-link" data-count="20"></li>
            <li class="chain-link" data-count="21"></li>
            <li class="chain-link" data-count="22"></li>
            <li class="chain-link" data-count="23"></li>
            <li class="chain-link" data-count="24"></li>
            <li class="chain-link" data-count="25"></li>
            <li class="chain-link" data-count="26"></li>
            <li class="chain-link" data-count="27"></li>
            <li class="chain-link" data-count="28"></li>
            <li class="chain-link" data-count="29"></li>
          </ul>
        </div> <!-- .single-chain -->

      </div> <!-- .chain-container -->

     </section> <!-- #content -->

  </div> <!-- #main-region.habit-tracker -->

</div> <!-- id="wrap" -->

<script>

</script>

<script>

</script>